.Landing {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0,0,0, 0.5),rgba(0,0,0, 0.5)), url('../../assets/pexels-photo-210585.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

.Link:link, .Link:visited{
    font-size: 24px;
    color: #dedede;
    text-decoration: none;
    text-transform: uppercase;
    border: 2px solid #dedede;
    padding: 30px;
    transition: .35s all ease;
    border-radius: 3px;
}

.Link:hover {
    background-color: #dedede;
    color: #232323;
}

